<?xml version="1.0" encoding="UTF-8"?>
<connfiguration>
<appender name="consoleAppender" class="ch.qos.Logback.core.ConsoleAppender">
<encoder>
<Pattern>%-5level %mess %d{HH:mm:ss.SSS} %logger{36} %n</Pattern>

<!-- %-5level= means the level of the logger event should be left justified
     to a width of five characters.
  
 %msg= outputs the application-supplied message associated with the logging
       event. 
       
 %d{HH:mm:ss.SSS}= means used to output the date of the logging event.  
     
  %logger{36}= means outputs the name of logger at the origin of the logging 
  event.It takes an integer
  
   %n= means outputs the platform dependent line separator character or characters.-->
</encoder>

</appender>
<logger name="jas.kum" level="DEBUG" additivity="false">
<appender-ref ref="consoleAppender"/>
</logger>

<root level="INFO">
<appender-ref ref="consoleAppender"/>
</root>

</connfiguration>